@* Generator : WebPage *@
@using System.Web.Optimization
<!DOCTYPE html> 
<html lang="en" class="static " data-root="@Href("~/")">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ReSharper Gallery</title>
    @Styles.Render("~/Content/css")
    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/Scripts/modernizr")
</head>
<body>
    <div id="content-wrapper">
        <header class="main">
            <div id="logo"><a href="@Href("~/")">ReSharper Gallery</a></div>
        </header>
        <nav class="main">
            <ul id="menu">
                <li><a href="@Href("~/")">Home</a></li>
                <li><a href="@Href("~/Packages")">Packages</a></li>

                <li><a href="@Href("~/packages/upload")" class="upload">Upload Package</a></li>
                <li><a href="@Href("~/stats")">Statistics</a></li>
                <li><a href="http://confluence.jetbrains.com/display/NETCOM/ReSharper+8+Plugin+Development">Documentation</a></li>
            </ul>
        </nav>
        <div id="body">
            <div class="error-show-code"></div>
            @RenderBody()
        </div>
    </div>
    <div id="layout-footer" class="group">
        <footer id="footer">
            <ul class="recommended">
              <li>
                  <a href="@Href("~/policies/Contact")">Contact Us</a>
                  <p>Got questions about Extension Manager or the ReSharper Gallery?</p>
              </li>
              <li>
                  <a href="http://www.jetbrains.com/">JetBrains</a>
                  <p>World's Leading Vendor of Professional Development Tools</p>
              </li>
              <li>
                  <a href="http://www.jetbrains.com/resharper/">ReSharper</a>
                  <p>Productivity tool for .NET developers that makes Microsoft Visual Studio a much better IDE</p>
              </li>
              <li>
                  <a href="http://www.jetbrains.com/resharper/features/open_api.html">ReSharper Open API</a>
                  <p>ReSharper's functionality can be significantly extended with its Open API.</p>
              </li>
              <li>
                  <a href="http://docs.nuget.org">NuGet</a>
                  <p>NuGet is a Visual Studio 2010 extension that makes it easy to add, remove, and update libraries and...</p>
              </li>
            </ul>
            <div class="license">
                <div>
                   <a href="http://outercurve.org"><img src="@Links.Content.Images.outercurve_png" alt="Outercurve Foundation" /></a>
                   <p>&copy; @DateTime.UtcNow.Year Outercurve Foundation.</p>
                </div>
                <div>
                    <a href="http://www.jetbrains.com"><img src="~/Content/Images/JBlogo.png" alt="JetBrains" /></a>
                    <p>&copy; @DateTime.UtcNow.Year JetBrains.</p>
                </div>
                <p>
                    Uses <a href="http://fontawesome.io">Font Awesome</a> by Dave Gandy
                </p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/all")
    @RenderSection("BottomScripts", required: false)
</body>
</html>
